<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p] [%d{hh:mm:ss a}][%c] %m%n" />
		</Console>

		<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="/data/hms/doctor/log-${env:HOSTNAME:-hms-doctor-no_container_id}.txt" filePattern="/data/hms/doctor/$${date:yyyy-MM}/log-hms-doctor-%d{yyyy-MM-dd}-%i.gz">
			<PatternLayout pattern="[%t][%p][%d{yyyy-MM-dd hh:mm:ss.SSS a}][%c] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="500 MB"/>
			</Policies>
		</RollingRandomAccessFile>

		<Async name="Async">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingRandomAccessFile" />
		</Async>
	</appenders>

	<loggers>

 		<logger name="com.hzwn" level="debug" />
		<logger name="net.bull" level="debug" /> 		
		
		<root level="info">
			<appender-ref ref="Async"/>
		</root>

	</loggers>

</configuration>